#1유형

##1-1.Temperature컬럼에서 숫자가 아닌 문자들을 제거후 숫자 타입으로 바꾸고 3분위수에서 1분위수의 차이를 소숫점 이하 2자리까지 구하여라

In [49]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_1.csv')
r=df
# r2=r.select_dtypes(include=['object'])
r2=r.Temperature.str.replace('*','',regex=True)
r2=r2.astype('float')

iqr= r2.quantile(0.75)-r2.quantile(0.25)
print(round(iqr,2))
# r2.info()
# df.head(5)
# help(r.replace)

27.48

##1-2.Likes를 Comments로 나눈 비율이 20이상이면서 Keyword값이 minecraft인 영상들의 Views값의 평균을 정수로 구하여라

In [53]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_2.csv')
r = df
r2 = df
r['ratio']=r2.Likes / r2.Comments
cond1 = r.ratio >= 20
cond2 = r.Keyword == 'minecraft'
r3= r.loc[cond1 & cond2]
result = r3.Views.mean()
print(int(result))

# r3.head()

1789084

##1-3.date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

In [92]:
import pandas as pd
import datetime
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p1_3.csv')
r = df
r.date_added=pd.to_datetime(r.date_added)
# r.info()
cond1= (r.date_added.dt.year==2018) & (r.date_added.dt.month ==1)
cond2 = r.country =='United Kingdom'
r2 = r.loc[cond1&cond2]
print(len(r2))
# r2.head()
# r.info()
# df.head(5)
# help(r.isin)
# help(pd.to_datetime)

6

#2유형

예측 변수 Segmentation, test.csv에 대해 ID별로 Segmentation의 클래스를 예측해서 저장후 제출, 제출 데이터 컬럼은 ID와 Segmentation 두개만 존재해야함. 평가지표는 macro f1 score

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import sklearn.metrics
train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e4_p2_test.csv')

y_train = train.pop('Segmentation')
x_train = train.fillna(0)
x_test = test.fillna(0)

drop_col = ['ID']
x_train_drop = x_train.drop(columns=drop_col)
x_test_drop = x_test.drop(columns=drop_col)
x_train_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)
x_test_dum = x_test_dum.reindex(columns=x_train_dum.columns, fill_value=0)
y=y_train

X_train, X_val, Y_train, Y_val = train_test_split(x_train_dum, y, test_size=0.33, random_state=42)
print(X_train.shape, X_val.shape, Y_train.shape, Y_val.shape, x_test_dum.shape)


rf = RandomForestClassifier()
rf.fit(X_train, Y_train)
rf_pred = rf.predict(X_val)
rf_f1 = sklearn.metrics.f1_score(Y_val,rf_pred,average='macro')
print(rf_f1)

pred = rf.predict(x_test_dum)
# print(pred.shape)
result = pd.DataFrame({'ID':x_test.ID, 'Segmentation':pred}).to_csv('000012345',index=False)
r2=pd.read_csv('000012345')
r2.head()

# print(y_train.shape, x_train.shape)
# display(x_train.info())
# display(x_train.nunique())
# help(sklearn.metrics.f1_score)

(3270, 32) (1611, 32) (3270,) (1611,) (1542, 32)
0.38857788720011033

       ID Segmentation
0  460406            D
1  466890            C
2  466145            B
3  465805            B
4  466137            C